<nav class="navbar navbar-expand-lg navbar-light py-4" style="background-color: rgb(246, 245, 255);">
    <div class="container" style="justify-content: flex-end;">
        <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#nav_lc" aria-controls="nav_lc" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto" id="nav_lc">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="{{ path('app') }}" class="nav-link px-3 link-dark ps-0">Home</a></li>
                        <li><a href="{{ path('app_collections') }}" class="nav-link px-3 link-dark ps-0">All Collections</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link px-3 link-dark ps-0 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                            <ul class="dropdown-menu border-0">
                                {% for category in categories.findAll %}
                                    <li><a class="dropdown-item" href="{{ path('app_collection_category',{'category':category.name}) }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>

                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>
                    {% if app.user == null %}
                    <div>
                        <div class="collapse navbar-collapse d-flex justify-content-end" id="nav_lc">
                            <div><a class="btn btn-outline-secondary me-2" href='{{path('app_login') }}'>Sign In</a>
                                <a class="btn btn-primary" href='{{ path('app_register') }}'>Sign Up</a></div>
                        </div>
                    </div>
                    {% else %}
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://sun9-60.userapi.com/impg/UX2_E5ThtE3SALToW-dsA_f33QQP6mog8dN8wA/d6lQbJAhvuc.jpg?size=1680x1668&quality=95&sign=cc46c79ed47eda96e34f1c5c20d1b5c0&c_uniq_tag=03Hv-GAfPgWiOMTvUz0A822O7hIMZfTlaar7ic76Ij8&type=album" alt="mdo" width="32" height="32" class="rounded-circle">
                            {{app.user.username}}
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="{{ path('app_collection_create') }}">New Collection</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('admin') }}">Admin Panel</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Sign out</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>