<h5 class="mt-4 text-primary comment-count display-6"><span>{{ item.getComments|length }}</span> comments</h5>
<div class="py-2">
    <div class="my-0" style="background-color:#0d6efd;height: 2px;"></div>
    <div class="comments-vew">
        {% for comment in item.getComments %}
            <div class="comment my-2 p-2" style="background-color:#f7f7f7;">
                <div class="container-fluid px-0">
                    <div class="col-12 d-flex justify-content-between">
                        <div class="h5 text-primary">{{ comment.getUser.getUsername}}</div>
                        <div class="h6 text-muted">{{ comment.getDateTimeAdd|date()}}</div>
                    </div>
                </div>
                <p class="ps-4">{{ comment.getText}}</p>
            </div>
        {% endfor %}
    </div>
    <!-- end comment -->
    <div class="comment-new">
        {{ form_start(commentForm) }}
            <h5>Add new comment:</h5>
            {{ form_errors(commentForm) }}
            {{ form_row(commentForm.text) }}
            {{ form_rest(commentForm) }}
            <div>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        {{ form_end(commentForm) }}
        <div class="m-5 row justify-content-center comment-again" style="display: none;">
            <button type="button" class="btn btn-primary">Send one more comement</button>
        </div>
    </div>
</div>