{% extends 'base.html.twig' %}

{% block title %}{{ action|capitalize }} Collection{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block links %}
    {% if itemCollection is defined %}
        <a href="{{ path('app') }}">Home</a> /
        <a href="{{ path('app_collection_view',{'id':itemCollection.id}) }}">{{ itemCollection.name|capitalize }} (update)</a>
    {% else %}
        <a href="{{ path('app') }}">Home</a> /
        New Collection
    {% endif %}
{% endblock %}

{% block body %}
<h1>{{action|capitalize}} collection</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.category) }}

        {{ form_label(form.image) }}
        {% if action != 'create' %}
            <img src="{{ asset('uploads/images/' ~ itemCollection.image.path) }}" class="d-block" style="width: 200px">
            <p class="mt-2">or upload a new one</p>
        {% endif %}
        {{ form_widget(form.image) }}
        {{ form_errors(form.image) }}

        <label class="my-3">Custom attributes</label>
        <div
                id="custom-attributes-wrapper"
                data-index="{{ form.customItemAttributes|length > 0 ? form.customItemAttributes|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.customItemAttributes.vars.prototype)|e('html_attr') }}"
                class="attribute-card"
        >
            {% for customAttribute in form.customItemAttributes%}
                <div class="item">
                    {{ form_row(customAttribute) }}
                </div>
            {% endfor %}
        </div>

        <a id="add-custom-attribute" class="btn btn-sm btn-outline-primary mt-4" href="">Add attribute</a>
        {{ form_rest(form) }}
        <button type="submit" class="d-block mt-4 btn btn-outline-primary" formnovalidate>{{ action|capitalize }}</button>
    {{ form_end(form) }}
    <script type="application/javascript" src="{{ asset('js/collection-form-helper.js') }}"></script>
{% endblock %}