{% extends 'base.html.twig' %}

{% block title %}Hello ItemController!{% endblock %}

{% block links %}
        {% if item is defined %}
                <a href="{{ path('app_collection') }}">Home</a> /
                <a href="{{ path('app_collection_view',{'id':item.getItemCollection.id}) }}">{{ item.getItemCollection.name|capitalize }}</a> /
                <a href="{{ path('app_item',{'idCollection':item.getItemCollection.id, 'idItem': item.id}) }}">{{ item.name|capitalize }} (update)</a>
        {% else %}
                <a href="{{ path('app_collection') }}">Home</a> /
                <a href="{{ path('app_collection_view',{'id':itemCollection.id}) }}">{{ itemCollection.name|capitalize }}</a> /
                New Item
        {% endif %}
{% endblock %}

{% block body %}

<div>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-outline-primary" formnovalidate>{{ action|capitalize }}</button>
    {{ form_end(form) }}
</div>
{% endblock %}
