{% extends 'base.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}

{% block links %}
    <a href="{{ path('app') }}">Home</a> /
    <a href="{{ path('app_collection_view',{'id':item.getItemCollection.id}) }}">{{ item.getItemCollection.name|capitalize }}</a> /
    <a href="{{ path('app_item',{'idCollection':item.getItemCollection.id, 'idItem': item.id}) }}">{{ item.name|capitalize }}</a>
{% endblock %}

{% block body %}
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <script src="{{ asset('js/like-helper.js') }}"></script>

    <div>
        <div class="header">
            <div class="collection-block main-card rounded px-2 py-4 mt-4">
                <div class="text mb-2">
                    <div class="text-header d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column flex-md-row">
                            <h6 class="me-4 text-muted">Collection : <a href="/collections/1">{{ item.getItemCollection.name }}</a>
                            </h6>
                            <h6 class="text-muted">Category : <a href="{{ path('app_collection_category',{'category':item.getItemCollection.getCategory.name}) }}">{{ item.getItemCollection.getCategory.name}}</a>
                            </h6>
                        </div>
                        <p class="lead">Author : <span class="text-primary">{{ item.getItemCollection.getUser.username }}</span></p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <h1 class="display-4 text-primary mb-0 me-4">{{ item.name }}</h1>
                    {% if (item.getItemCollection.getUser == app.user or is_granted('ROLE_ADMIN')) %}
                        <a href="{{ path('app_item_update',{'idCollection':item.getItemCollection.id,'idItem':item.id}) }}" type="button" class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"></path>
                            </svg>
                        </a>
                    {% endif %}
                </div>

                <div class="lead text-muted mb-4">{{ item.dateAdd|date("d.m.Y") }}</div>
                <div class="strings">
                    <div class="my-2">
                        {% for attribute in item.getItemAttributeStringFields %}
                            <div class="lead fs-4 text-primary me-4 float-start">{{ attribute.getCustomItemAttribute.getName}}:</div>
                            <div class="lead fs-4">{{ attribute.getValue }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="integers">
                    <div class="my-2">
                        {% for attribute in item.getItemAttributeIntegerFields %}
                            <div class="lead fs-4 text-primary me-4 float-start">{{ attribute.getCustomItemAttribute.getName}}:</div>
                            <div class="lead fs-4">{{ attribute.getValue }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="texts">
                    <div class="my-2">
                        {% for attribute in item.getItemAttributeTextFields %}
                            <div class="lead fs-4 text-primary me-4 float-start">{{ attribute.getCustomItemAttribute.getName}}:</div>
                            <p class="lead fs-4">{{ attribute.getValue }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="booleans">
                    <div class="my-2">
                        {% for attribute in item.getItemAttributeBooleanFields %}
                            <div class="lead fs-4 text-primary me-4 float-start">
                                {{ attribute.getCustomItemAttribute.getName}}
                            </div>
                            <div class="lead text-primary fs-4">
                                {% if attribute.isValue == 1  %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                                    </svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    </svg>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="dates">
                    <div class="my-2">
                        {% for attribute in item.getItemAttributeDateFields %}
                            <div class="lead fs-4 text-primary me-4 float-start">{{ attribute.getCustomItemAttribute.getName}}:</div>
                            <div class="lead fs-4">{{ attribute.getValue|date("d.m.Y") }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="likes">
                    {% block likes %}
                        {{ include('item/like/index.html.twig') }}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="comments">
            {% block comments %}
                {{ include('item/comments/index.html.twig') }}
            {% endblock %}
        </div>
    </div>
{% endblock %}
